# Server Core Dependencies
fastapi
uvicorn[standard]
python-multipart
psutil
circus
pytest-mock
websocket-client
requests
pytest
pytest-playwright
torch
torchaudio
torchvision
opencc-python-reimplemented
faster-whisper
