# Server Core Dependencies
fastapi
uvicorn[standard]
python-multipart
psutil
circus
pytest-mock
websocket-client
requests
pytest
playwright
pytest-playwright
opencc-python-reimplemented
pytest-timeout
httpx
pydantic-settings
